/* font styles */

.title-font {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  color: var(--base-weak);
}

.h1-font {
  font-family: Ubuntu;
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
  color: var(--base-strong);
}

.h2-font {
  font-family: Ubuntu;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  color: var(--base-strong);
}

.body-bold-font {
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

.body-font {
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.meta {
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}
