@import url('./reset.css');
@import url('./fonts.css');
@import url('./variables.css');
@import url('./font-styles.css');
/* стили компонентов */
@import url('../components/title/title.css');
@import url('../components/placeholder/placeholder.css');
@import url('../components/card/card.css');
@import url('../components/slider/slider.css');
@import url('../components/scrollpicker/scrollpicker.css');
@import url('../components/select/select.css');
@import url('../components/selectdate/selectdate.css');

body {
  background: url(../images/background/Up-1440.svg) top no-repeat,
    url(../images/background/Down-1440.svg) bottom no-repeat;
  background-color: var(--accent);
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  flex-shrink: 0;
  text-align: center;
  padding-bottom: 16px;
  color: var(--base-weak);
  opacity: 0.6;
}

.container {
  position: relative;
  flex: 0 0 100%;
  max-width: 660px;
  max-height: 524px;
  box-sizing: border-box;
  background-color: var(--base-weak);
  box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
  border-radius: 8px;
  margin: 0 15px 30px 15px;
  padding: 50px 58px 70px;
  overflow: hidden;
}

.input-range {
  display: none;
  -webkit-appearance: none;
  width: calc(100% - 2 * 7.4vw);
  background: transparent;
}

.input-range::-webkit-slider-thumb {
  height: 8px;
  width: 50px;
  border-radius: 8px;
  background: var(--secondary);
  cursor: pointer;
  -webkit-appearance: none;
}

.input-range::-ms-thumb {
  height: 8px;
  width: 50px;
  border-radius: 8px;
  background: var(--secondary);
  cursor: pointer;
}

.selectwrapper {
  margin-bottom: 34px;
  display: flex;
  justify-content: space-between;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@media (max-width: 768px) {
  body {
    background: url(../images/background/Up-mobile.svg) right top no-repeat,
      url(../images/background/Down-mobile.svg) left bottom no-repeat;
    background-color: var(--accent);
  }

  .container {
    max-height: 600px;
    min-width: 300px;
    padding-top: calc(4vw + 19px);
    padding-left: calc(7.4vw);
    padding-right: calc(7.4vw);
    padding-bottom: calc(2.2vw + 53px);
    flex: 0 0 86%;
  }

  .container-top {
    max-height: 524px;
    min-height: calc(13.4vw + 421px);
  }

  .input-range {
    display: block;
    position: absolute;
    bottom: calc(2.2vw + 34px);
  }

  .selectwrapper {
    flex-wrap: wrap;
    margin-bottom: calc(7.5vw - 24px);
  }
}
